.inputTextStyle {
  z-index: 9992;
  position: fixed;
  margin-top: 4px;
  margin-left: 4px;
  height: 13px;
  width: 61px;
  background-color: rgb(242, 190, 147);
  border-radius: 10px;
  padding-left: 8px;
  padding-right: 8px;
  outline: none;
  border: none;
  caret-color: white;
}

.inputTextStyle::-webkit-input-placeholder {
  color: black;
  font-size: 12px;
}