.itemNodeButtonSelector {
  display: initial;
  position: absolute;
  top: 60px;
  margin-left: -65px;
  z-index: 1;
}

.imgLoaderBackground {
  background: linear-gradient(rgb(210, 187, 139), rgb(210, 187, 139)) center/73% 73%;
  background-repeat:no-repeat;
}