.wrapper {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.backpackWrapper{
  position: absolute;
  right: 0;
  bottom: 0;
  transition: all 0.5s ease-out;
  z-index: 2;
}

.backpackWrapperHidden{
  transform: translate(550px,0);
}

.backpackDemo {
  z-index: 4;
  pointer-events: none;
}

.GMItemSelectorWrapper{
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 1;
  user-select: none;
  transition: all 0.5s ease-out;
}

.GMItemSelectorWrapperHidden{
  transform: translate(-550px,0);
}

.GMItemSelectorDemo {
  z-index: 4;
  pointer-events: none;
}

.marketMenuWrapper{
  width: 427px;
  height: 547px;
  position: absolute;
  bottom: 25px;
  right: 30px;
  transition: all 0.5s ease-in-out;
  user-select: none;
}

.marketMenuShown {
  transition: all 0.5s ease-in-out;
  transform: translate(-410px,0);
}

.demoButtonWrapper {
  z-index: 1;
  position: absolute;
  top: 280px;
  right: 1px;
  transition: all 0.5s ease-in-out;
}

.demoButtonHidden {
  transition: all 0.5s ease-in-out;
  transform: translate(155px,0);
}

.guideWrapper {
  position: absolute;
  right: var(--guide-right);
  left: var(--guide-left);
  top: 50%;
  transform: translate(var(--guide-transorm-translateX),-50%);
  transition: all 0.5s ease-in-out;
  z-index: 6;
}

.guideHidden {
  display: none;
}

@media (max-height: 930px) {
  .wrapper{
    height: 960px;
  }
}

@media (max-width: 1150px) {
  .wrapper{
    width: 1150px;
  }
}

[data-guide='center'] {
  --guide-right: 50%;
  --guide-left: initial;
  --guide-transorm-translateX: 50%;
}
[data-guide='right'] {
  --guide-right: 200px;
  --guide-left: initial;
  --guide-transorm-translateX: 50%;
}
[data-guide='left'] {
  --guide-right: initial;
  --guide-left: 200px;
  --guide-transorm-translateX: -50%;
}
