.wrapper {
  width: 75px;
  height: 65px;
  user-select: none;
  display: flex;
  z-index: 9999;

  .settingsSVG {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: 0.3s ease opacity;
    z-index: 0;
    width: 65px;
    height: 65px;
    svg {
      margin: 0 10px;
      width: 45px;
      height: 45px;
    }
  }

  .settings {
    position: fixed;
    right: 0;
    display: flex;
    cursor: pointer;
    transform: translate(225px, 0);
    transition: 0.3s ease transform;

    .selectors {
      display: flex;
      background-color: var(--header-color);
      justify-content: center;
      text-align: center;
      align-items: center;
      width: 75px;
      height: 65px;
    }

    .selectors:hover {
      background-color: var(--header-color-hovered);

      .options {
        display: flex;
      }
    }

    .options {
      background-color: var(--header-color);
      position: fixed;
      display: none;
      flex-direction: column;
      top: 65px;
      right: 0;
      width: 150px;

      p {
        padding: 5px;
      }

      p:hover {
        background-color: var(--header-color-hovered);
      }
    }

    .themeWrapper {
      position: static;
      width: 75px;

      .theme {
        width: 75px;
        height: 65px;
        background-color: var(--background-theme);
        overflow: hidden;
        position: absolute;
        transition: 1s ease background-color;

        .sun {
          z-index: 2;
          position: absolute;
          top: var(--top);
          left: var(--left);
          width: 29px;
          height: 29px;
          background-color: #ffd044;
          transform: var(--scale);
          border-radius: 50%;
          transition: 0.5s ease top, 0.5s ease left, 0.5s ease transform;

          .starWrap{
            position: absolute;
            top: -22px;
            width: 54px;
            height: 54px;
            display: flex;

            .star1 {
              position: absolute;
              top: -5px;
              left: -8px;
              font-size: 54px;
              color: #ffd044;
            }

            .star2 {
              position: absolute;
              top: -4px;
              left: -5px;
              font-size: 54px;
              color: #ffd044;
              transform: rotateZ(36deg);
            }
          }
        }

        .moon {
          z-index: 1;
          position: absolute;
          bottom: var(--bottom);
          right: 8px;
          width: 40px;
          height: 40px;
          background-color: var(--background-color-moon);
          border-radius: 50%;
          transition: 0.5s ease bottom, 1s ease background-color;
        }

        .moon:before {
          content: "";
          position: absolute;
          top: -12px;
          left: -17px;
          width: 40px;
          height: 40px;
          background-color: var(--background-theme);
          border-radius: 50%;

          transition: 1s ease background-color;
        }
      }
    }
  }
}

.selected {
  text-decoration: underline;
}

.wrapper:hover {
  .settings {
    transform: translate(0, 0);
    transition: 0.3s ease transform;
  }
}

.wrapper:active {
  .settings {
    transform: translate(0, 0);
    transition: 0.3s ease transform;
  }
}
