.wrapper {
  width: 75px;
  height: 65px;
  user-select: none;
  display: flex;
  z-index: 9999;
  color: #d7cecc;

  .settingsSVG {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: 0.3s ease opacity;
    z-index: 0;
    width: 65px;
    height: 65px;

    svg {
      margin: 0 10px;
      width: 45px;
      height: 45px;
    }
  }

  .serverNotificationText {
    font-weight: 700;
    text-align: center;
    font-size: 12px;
    border-left: 2px solid var(--header-color);
    border-bottom: 2px solid var(--header-color);
    padding: 2px 5px;
    color: var(--color-table-text);
    position: absolute;
    top: 65px;
    right: 0;
  }

  .settings {
    position: fixed;
    right: 0;
    display: flex;
    cursor: pointer;
    transform: translate(225px, 0);
    transition: 0.3s ease transform;

    .selectors {
      display: flex;
      background-color: var(--header-color);
      justify-content: center;
      text-align: center;
      align-items: center;
      width: 75px;
      height: 65px;
    }

    .selectors:hover {
      background-color: var(--header-color-hovered);
      color: #ffdfbc;

      .options {
        display: flex;
      }
    }

    .options {
      background-color: var(--header-color);
      position: fixed;
      display: none;
      flex-direction: column;
      top: 65px;
      right: 0;
      width: 150px;

      p {
        padding: 5px;
        text-decoration: var(--text-decoration-paragraph);
        color: var(--color-paragraph);
      }

      p:hover {
        background-color: var(--header-color-hovered);
        color: #ffdfbc;
      }
    }

    .themeWrapper {
      position: static;
      width: 75px;

      .theme {
        width: 75px;
        height: 65px;
        background-color: var(--background-theme);
        overflow: hidden;
        position: absolute;
        transition: 1s ease background-color;

        .sun {
          z-index: 2;
          position: absolute;
          top: var(--top);
          left: var(--left);
          width: 29px;
          height: 29px;
          background-color: var(--background-color-sun);
          transform: var(--scale);
          border-radius: 50%;
          display: flex;
          justify-content: center;
          font-size: 3.4rem;
          color: var(--color-star);
          line-height: 1.5rem;
          transition: 0.5s ease top, 0.5s ease left, 0.5s ease transform, 0.5s ease background-color, 0.5s ease color;
        }


        .moon {
          z-index: 1;
          position: absolute;
          bottom: var(--bottom);
          right: 8px;
          width: 40px;
          height: 40px;
          background-color: var(--background-color-moon);
          border-radius: 50%;
          transition: 0.5s ease bottom, 1s ease background-color;
        }

        .moon:before {
          content: "";
          position: absolute;
          top: -12px;
          left: -17px;
          width: 40px;
          height: 40px;
          background-color: var(--background-theme);
          border-radius: 50%;

          transition: 1s ease background-color;
        }
      }
    }
  }
}

.wrapper:hover {
  .settings {
    transform: translate(0, 0);
    transition: 0.3s ease transform;
  }
}

.wrapper:active {
  .settings {
    transform: translate(0, 0);
    transition: 0.3s ease transform;
  }
}

[data-selected='selected'] {
  --text-decoration-paragraph: underline;
  --color-paragraph: #ffdfbc;
}

[data-selected='non-selected'] {
  --text-decoration-paragraph: none;
  --color-paragraph:  #d7cecc;
}

[data-theme="dark"] {
  --background-color-sun: transparent;
  --color-star: #ffd044;
}

[data-theme="light"] {
  --background-color-sun: #ffd044;
  --color-star: transparent;
}