.wrapper{
  margin: 10px 0;
  position: absolute;
  top: 115px;
  left: 75px;
  width: 300px;
  //background-color: #ebc69f;
  //padding: 10px;
  //border-radius: 15px;
  //filter: drop-shadow(5px 5px 6px black);

  p {
    color: var(--color-table-text);
    margin-right: 15px;
  }

  select {
    background-color: var(--background-color-table);
    color: var(--color-table-text);
  }

  div{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

@media (max-width: 1300px) {
  .wrapper {
    position: inherit;
  }
}