.marketMenuHeader {
  position: absolute;
  width: 420px;
  height: 144px;
  left: 0;
  margin-top: 0;

  .headerItemsWrapper {
    position: fixed;
    margin-top: 10px;
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      margin-left: 15px;
      font-size: 25px;
      font-weight: 700;
      color: rgb(144, 125, 108);
      font-family: 'Hedvig Letters Serif', serif;
    }
  }
}