.listElem {
  z-index: 9998;
  margin: 10px 20px;
  padding: 5px 5px;
  width: 450px;
  height: 60px;
  box-shadow: 3px 3px 10px black;
  background-color: rgb(235, 198, 159);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .imageBox {
    width: 68px;
    height: 68px;

    img {
      filter: drop-shadow(5px 5px 6px black);
      cursor: pointer;
      width: 68px;
      height: 68px;
      background: linear-gradient(rgb(210, 187, 139), rgb(210, 187, 139)) center/61% 61%;
      background-repeat: no-repeat;
    }

    p {
      position: absolute;
      margin-top: -39px;
      margin-left: 44px;
      color: rgb(235, 198, 159);
    }
  }

  button {
    cursor: pointer;
    margin: 10px;
  }

  p {
    padding: 5px;
    cursor: pointer;
  }

  p:hover {
    scale: 1.1;
  }

  p:active {
    scale: 1.2;
  }
}

.spinnerStyles{
  position: absolute;
  margin-top: -30px;
  margin-left: 44px;
}

.checkedArtefact{
  filter: drop-shadow(1px 1px 3px lightgreen);
}

.artefactsTooltip {

  table{
    white-space: normal;
    border-collapse: collapse;
    background-color: rgb(235, 198, 159);
    border: 2px solid #f6f5f1;
    text-align: center;

    overflow: auto;
    margin-bottom: 10px;

    img{
      width: 65px;
      height: 65px;
      filter: drop-shadow(5px 5px 6px black);
    }
    td{
      padding: 5px;
      border: 2px solid #f6f5f1;
      cursor: pointer;
    }
    thead{
      th{
        padding: 8px;
        border: 2px solid #f6f5f1;
        max-width: 100px;
      }
    }
  }
}
