.listElem {
  margin: 10px 20px;
  padding: 5px 5px;
  width: 450px;
  height: 60px;
  box-shadow: 3px 3px 10px black;
  background-color: var(--background-color-table);
  border-radius: var(--border-radius-artefacts);
  border: var(--border-artefacts);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  transition: 0.5s ease border-radius, 1s ease background-color, 1s ease border;

  button {
    cursor: pointer;
    margin: 10px;
  }

  p {
    padding: 5px;
    cursor: pointer;
    color: var(--color-table-text);
    transition: 1s ease color;
    filter: var(--filter-paragraph);
  }

  p:hover {
    scale: 1.1;
  }

  p:active {
    scale: 1.2;
  }

  .imageBox {
    width: 68px;
    height: 68px;

    img {
      filter: drop-shadow(3px 3px 6px black);
      cursor: pointer;
      width: 68px;
      height: 68px;
      background: linear-gradient(rgb(210, 187, 139), rgb(210, 187, 139)) center/61% 61%;
      background-repeat: no-repeat;
    }

    p {
      position: absolute;
      left: 49px;
      bottom: 5px;
      color: rgb(235, 198, 159);
    }
  }
}

.spinnerStyles{
  position: absolute;
  z-index: 9999;
  left: 44px;
  bottom: 30px;
}

[data-checked='checked']{
  --filter-paragraph: drop-shadow(1px 1px 3px var(--isChecked-color));
}

[data-checked='non-checked']{
  --filter-paragraph: none;
}

