.inputTextStyle {
  z-index: 3;
  position: absolute;
  top: 4px;
  left: 5px;
  width: 250px;
  border-radius: 10px;
  height: 15px;
  background-color: rgb(242,190,147);
  appearance: none;
  outline: none;
  border: none;
  caret-color: white;
  padding-left: 10px;
  padding-right: 10px;
}

.inputTextStyle::-webkit-input-placeholder {
  color: black;
}