.lowWidthScreenNavigation {
  z-index: 9997;
  text-align: center;
  position: fixed;
  display: none;
  flex-direction: column;
  top: 65px;
  background-color: var(--header-color);

  a {
    display: inline-block;
    text-align: center;
    line-height: 60px;
    vertical-align: middle;
    font-size: 20px;
    width: 180px;
  }

  .link {
    color: #d7cecc;
    text-decoration: none;
  }

  .activeLink {
    text-decoration: none;
    text-shadow: 0 0 7px #fff;
    color: #ffdfbc;
  }

  .link:hover {
    background-color: var(--header-color-hovered);
    text-shadow: 0 0 7px #fff;
    color: #ffdfbc;
  }

  .activeLink:hover {
    background-color: var(--header-color-hovered);
  }
}

.mobileLinks {
  display: none;

  svg {
    width: 180px;
    height: 65px;
  }
}

.mobileLinks:hover{
  svg {
    background-color: var(--header-color-hovered);
  }

  .lowWidthScreenNavigation {
    display: flex;
  }
}

@media (max-width: 1100px) {
  .mobileLinks {
    display: inline;
  }
}
