.returnRateInput {
  display: flex;
  margin: 7px 10px;
  align-items: center;
  width: 380px;

  .resourceLabel{
    width: 110px;
    display: flex;
    justify-content: flex-end;

    p {
      margin-right: 30px;
      font-weight: 700;
    }
  }

  p {
    font-size: 13px;
    margin-right: 10px;
  }

  input[type='number']{
    background-color: transparent;
    border: none;
    padding-top: 4px;
    padding-bottom: 2px;
    color: var(--color-return-input);
    font-weight: 700;
  }
  input[type='number']::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

  .notification:after{
    content: var(--content-notification);
    color: red;
    font-weight: 700;
  }

}



[data-isinputvalid='valid'] {
  --color-return-input: rgb(89, 60, 40);
  --content-notification: '';
}

[data-isinputvalid='nonValid'] {
  --color-return-input: red;
  --content-notification: ' 15,2% - 70%';
}