.itemTypeButtonSelector {
  position: absolute;
  display: flex;
  align-items: center;
  margin-left: 65px;
  transition: all 0.5s ease-in-out;
  z-index: 1;
}

.imgLoaderBackground {
  background: linear-gradient(rgb(210, 187, 139), rgb(210, 187, 139)) center/73% 73%;
  background-repeat:no-repeat;
}