.materialSelector{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: end;
  margin-bottom: 5px;

  div {
    margin-bottom: 2px;
    display: flex;
    align-items: center;
  }

  input[type='number']{
    width: 101px;
    padding-left: 5px;
    background-color: var(--background-color-table);
    color: var(--color-table-text);
    margin-left: 4px;
    transition: 1s ease background-color, 1s ease color;
  }

  input[type='checkbox']{
    margin-left: 3px;
    width: 18px;
    height: 18px;
  }

  select{
    width: 130px;
    margin-left: 5px;
    background-color: var(--background-color-table);
    color: var(--color-table-text);
    transition: 1s ease background-color, 1s ease color;
  }
}