.workBenchTypeSelector {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 9999;
  display: flex;
  justify-content: space-around;
  transition: all 0.2s ease-in-out;
  width: 50px;

  button {
    position: absolute;
  }

  button:first-child {
    filter: drop-shadow(3px 3px 3px black);
  }
}

@mixin hoverMixin {
  width: var(--width-button-box);

  button {
    position: initial;
    filter: drop-shadow(3px 3px 3px black);
  }
}

.workBenchTypeSelector:hover {
  @include hoverMixin;
}

.workBenchTypeSelectorHoverImitation {
  @include hoverMixin;
}

[data-selected='ITEMS'] {
  --width-button-box: 210px;
}

[data-selected='RESOURCES'] {
  --width-button-box: 260px;
}