.wrapper {
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
  width: 480px;

  .quantityInput{
    display: flex;
    width: 65px;
    align-items: center;
    justify-content: center;

    input[type='number'] {
      width: 55px;
      text-align: center;
      background-color: rgb(161, 153, 108);
      outline: none;
    }
    input[type='number']::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }
  }

  .selectedConsumableItem {
    display: flex;
    align-items: center;
    height: 110px;
  }

  .extraResource {
    display: flex;
    filter: drop-shadow(3px 3px 6px black);
    cursor: pointer;

  }

  .resourceQuantity {
    margin-left: 34px;
    margin-top: -30px;
    position: absolute;
    height: 15px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    cursor: pointer;
    p{
      color: white;
      font-size: 10px;
    }
  }

  .resources {
    z-index: 5;
    display: flex;
    margin-left: 15px;
    width: 330px;
    max-width: 330px;
    flex-wrap: wrap;
  }

  .totalQuantity {
    width: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
