.materials {
  width: 395px;
  height: 375px;
  overflow-x: hidden;
  position: absolute;
  bottom: 15px;
  left: 0;
  flex-wrap: wrap;
  z-index: 9997;
  margin: 10px;

  .itemName{
    width: 140px;
    font-weight: 700;
    color: rgb(91,64,45);
  }

  .materialItem {
    display: flex;
    width: 380px;
    align-items: center;
    justify-content: space-between;


    .itemImg {
      display: inherit;
      margin: 5px;

      img{
        height: 80px;
        width: 80px;
        cursor: pointer;
        filter: drop-shadow(6px 6px 6px black);
      }

      .itemQuantity{
        width: 25px;
        height: 12px;
        position: absolute;
        left: 53px;
        margin-top: 52px;
        display: flex;
        justify-content: center;

        p{
          font-size: 9px;
          color: white;
          z-index: 9999
        }
      }
    }

  }
}

.backgroundSkeleton {
  background: linear-gradient(rgb(210, 187, 139), rgb(210, 187, 139)) center/70% 70%;
  background-repeat:no-repeat;
}

