.wrapper{
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left: 10px;

  .selectedItem{
    display: flex;
    z-index: 9999;

    .itemTierSelector {
      display: flex;
      align-items: center;

      .itemTierButtonSelector{
        width: 325px;
        height: 65px;
      }
    }
  }
}

.backgroundSkeleton {
  background: linear-gradient(rgb(210, 187, 139), rgb(210, 187, 139)) center/73% 73%;
  background-repeat:no-repeat;
}
