.transportationFormStyles {
  width: 318px;
  position: absolute;
  top: 110px;
  left: 30px;
  display: flex;
  flex-direction: column;

  div {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    p {
      color: var(--color-table-text);
      font-weight: 700;
      transition: 1s ease color;
    }
  }

  select {
    margin: 5px;
    width: 145px;
    background-color: var(--background-color-table);
    color: var(--color-table-text);
    transition: 1s ease background-color,  1s ease color;
  }

  input[type=checkbox] {
    margin: 5px;
    width: 18px;
    height: 18px;
  }
}

@media (max-width: 1750px) {
  .transportationFormStyles {
    position: initial;
    margin: 85px auto 0 auto;
  }
}




