.artefacts {
  width: 500px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 115px 0 20px 0;
  color: var(--color-table-text);
  font-weight: 700;
  align-items: center;

  transition: 0.5s ease color;
}

@media (max-width: 1300px) {
  .artefacts{
    padding: 85px 0 20px 0;
  }
}
