.item {
  position: relative;
  cursor: pointer;
  height: 65px;

  div {
    position: absolute;
    width: 25px;
    height: 20px;
    right: 5px;
    bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    p{
      color: white;
      font-size: 10px;
    }
  }
}