.itemImage {
  img {
    position: absolute;
    width: 147px;
    height: 147px;
    top: -9px;
    left: -9px;
    background: linear-gradient(rgb(210, 187, 139), rgb(210, 187, 139)) center/73% 73%;
    background-repeat:no-repeat;
  }

  p {
    width: 270px;
    position: fixed;
    top: 20px;
    left: 140px;
    z-index: 9999;
    font-size: var(--text-fs-CF);
    font-weight: 700;
    color: rgb(89, 60, 40);
  }
}

[data-text='short'] {
  --text-fs-CF: 18px;
}
[data-text='long'] {
  --text-fs-CF: 12px;
}