.foodTax{
  position: absolute;
  top: 162px;
  left: 100px;
  width: 130px;

  p {
    font-size: 10px;
  }

  .inputBox{
    display: flex;
    width: 140px;
  }

  input[type='number']{
    width: 35px;
    height: 12px;
    background-color: transparent;
    border: none;
    font-size: 12px;
    font-weight: 700;
  }

  input[type='number']::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
}