.itemsCounter {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 10px;
  bottom: 13px;
  width: 36px;
  height: 36px;

  p {
    font-weight: 500;
    font-size: var(--font-size-counter);
    color: white;
  }
}

[data-count='small']{
  --font-size-counter: 12px;
}

[data-count='medium']{
  --font-size-counter: 14px;
}

[data-count='large']{
  --font-size-counter: 18px;
}
