.wrapper {
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
  width: 115px;
  align-items: center;
  justify-content: space-between;

  .itemTypeSelector {
    display: flex;
  }
}

.imgLoaderBackground {
  background: linear-gradient(rgb(210, 187, 139), rgb(210, 187, 139)) center/73% 73%;
  background-repeat:no-repeat;
}