.wrapper{
  z-index: 4;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);

  .closeButtonStyles{
    top: unset;
    right: 5px;
    bottom: 5px;
    position: absolute;
  }

  table{
    white-space: normal;
    border-collapse: collapse;
    background-color: var(--background-color-table);
    text-align: center;
    overflow: auto;
    color: var(--color-table-text);

    transition: 1s ease all;

    img{
      width: 65px;
      height: 65px;
      filter: drop-shadow(5px 5px 6px black);
    }
    td{
      border: 2px solid white;
      cursor: pointer;
    }
    thead{
      th{
        padding: 8px;
        border: 2px solid white;
        max-width: 100px;
      }
    }
  }
}

.pulseLoader {
  position: absolute;
  border-color: red;
  align-self: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  color: rgb(235, 198, 159);
}

.infoTableTooltip {
  hr{
    border: none;
    height: 1px;
    background-color: var(--color-table-text);
    margin-top: 5px;
  }
  hr:not(hr:last-child) {
    margin-bottom: -10px;
  }
}

